# Backend Environment Variables
BOT_TOKEN=your_telegram_bot_token_from_botfather
BOT_USERNAME=UbashBot
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ubash
WEBAPP_URL=https://your-frontend-deployment-url.vercel.app

# Optional
PORT=3000
NODE_ENV=production
